# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

8a14b164356dd96869cba4f3d17fab6f

http://api.openweathermap.org/data/2.5/weather?q=London&appid=${8a14b164356dd96869cba4f3d17fab6f}